In [9]:
import requests
import pandas as pd

In [17]:
import numpy as np

In [2]:
from bs4 import BeautifulSoup

First I write the link where the table is.

In [3]:
website_url = requests.get('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M').text

Second I use BeautifulSoup package to scrap the data.

In [30]:
soup = BeautifulSoup(website_url,'lxml')

Then, I found the table I require.

In [31]:
My_table = soup.find('table',{'class':'wikitable sortable'})

I read the table

In [15]:
df=pd.read_html(str(My_table))[0]

I deleted the rows with Not assigned Borough

In [21]:
data=df.loc[df['Borough']!='Not assigned']

I changed Neibourhoods not assigned

In [27]:
data.loc[data['Neighbourhood']=='Not assigned','Neighbourhood']=data.loc[data['Neighbourhood']=='Not assigned','Borough']

/opt/conda/envs/Python36/lib/python3.6/site-packages/pandas/core/indexing.py:190: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)
/opt/conda/envs/Python36/lib/python3.6/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [32]:
data.head()

  Postcode           Borough     Neighbourhood
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront
5      M6A        North York  Lawrence Heights
6      M6A        North York    Lawrence Manor

In [29]:
data.shape

(210, 3)

I made my work in IBM Watson Studio so I had to delete my credentials.

In [49]:

import types
import pandas as pd
from botocore.client import Config
import ibm_boto3

def __iter__(self): return 0

# @hidden_cell
# The following code accesses a file in your IBM Cloud Object Storage. It includes your credentials.
# You might want to remove those credentials before you share the notebook.
# add missing __iter__ method, so pandas accepts body as file-like object
if not hasattr(body, "__iter__"): body.__iter__ = types.MethodType( __iter__, body )

df_data = pd.read_csv(body)
df_data.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

I merged both datasets

In [51]:
geodata=data.merge(df_data,'left',left_on='Postcode',right_on='Postal Code',indicator=True)

In [53]:
geodata.groupby('_merge').count()

            Postcode  Borough  Neighbourhood  Postal Code  Latitude  Longitude
_merge
left_only          0        0              0            0         0          0
right_only         0        0              0            0         0          0
both             210      210            210          210       210        210

In [55]:
geodata.drop(inplace=True,columns='_merge')